<form class="detail-panel-form">
  <mat-form-field appearance="outline" class="detail-panel-widget">
    <mat-label>Owner</mat-label>
    <input matInput placeholder="Enter the configuration owner...">
  </mat-form-field>
  <mat-form-field appearance="outline" class="detail-panel-widget">
    <mat-label>Key</mat-label>
    <input matInput placeholder="Enter the configuration key...">
  </mat-form-field>
  <mat-form-field appearance="outline" class="detail-panel-widget">
    <mat-label>Value</mat-label>
    <input matInput placeholder="Enter the configuration value...">
  </mat-form-field>
</form>





