/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css"
@import "~ag-grid-community/dist/styles/ag-theme-balham.css"
@import "~@angular/material/prebuilt-themes/indigo-pink.css"

$primary-background-colour: #132640
$primary-font-family: -apple-system, Arial
$primary-font-colour: white
$toolbar-title-font-size: 24px
$toolbar-max-height: 60px
$toolbar-font-weight: 600
$toolbar-title-left-margin: 16px

\:host
  font-family: $primary-font-family
  font-size: $toolbar-title-font-size

// Toolbar style STARTS here

div.toolbar
  position: absolute
  top: 0
  left: 0
  right: 0
  height: $toolbar-max-height
  display: flex
  align-items: center
  background-color: $primary-background-colour
  color: $primary-font-colour
  font-weight: 600

div.toolbar
  span
    margin: 0 $toolbar-title-left-margin

// Toolbar style ENDS here

// Main grid style STARTS here

div.content
  display: flex
  margin: 60px auto
  flex-direction: column

// Main grid style ENDS here
